[Desktop Entry]
Type=Application
Name=The Web Session
Comment=Start The Web desktop layer for Spider OS
Exec=/bin/bash /usr/libexec/spider-os-session-bootstrap
Icon=spider-os
Terminal=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
X-GNOME-Autostart-enabled=true

